{% extends 'general/brands.htm' %}
{% load staticfiles %}

{% block content_owner %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu odio aliquam, semper ipsum eget, vehicula massa. Vestibulum sed dui elit. Vestibulum dapibus purus quis fermentum semper. Maecenas malesuada nulla nec condimentum malesuada. Suspendisse sed dolor quis nunc malesuada pretium. Praesent posuere laoreet odio. Morbi mauris purus, aliquet ut eleifend quis, dignissim a justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia sed neque eget dignissim.</p>
{% endblock content_owner %}

{% block image_owner %}
    http://via.placeholder.com/640x360
{% endblock image_owner %}

{% block content_brand %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu odio aliquam, semper ipsum eget, vehicula massa. Vestibulum sed dui elit. Vestibulum dapibus purus quis fermentum semper. Maecenas malesuada nulla nec condimentum malesuada. Suspendisse sed dolor quis nunc malesuada pretium. Praesent posuere laoreet odio. Morbi mauris purus, aliquet ut eleifend quis, dignissim a justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia sed neque eget dignissim.</p>
{% endblock content_brand %}

{% block image_brand %}
    http://via.placeholder.com/640x360
{% endblock image_brand %}

{% block sub_title %}
    Something Related to The Warrior Wife's section
{% endblock sub_title %}

{% block sub_content %}
    <p>Aliquam erat volutpat. Donec nec varius tortor, eget vestibulum justo. Aliquam vel molestie turpis. Etiam luctus consectetur urna, id finibus tellus consectetur et. Proin laoreet, odio quis ultricies imperdiet, augue turpis sollicitudin diam, id vestibulum lorem ex quis dui. Proin feugiat commodo ligula quis scelerisque. Suspendisse ac lorem eleifend, convallis metus eleifend, facilisis nisi. Morbi nec dignissim ex, nec congue ipsum. Donec ac quam blandit quam rutrum aliquet a eu metus. Sed id euismod felis, a imperdiet tortor. Nullam suscipit est nec elit condimentum congue. Etiam eget elit magna. Nam auctor vitae arcu eget dictum. Praesent sit amet sapien tincidunt, placerat enim nec, pellentesque eros. Praesent ut velit sodales, laoreet tortor sit amet, ultricies quam. Sed ac egestas eros, sed bibendum mi.</p>
{% endblock sub_content %}

{% block extra_content %}
    <h2>Extra Content Header</h2>
    <p>Proin mattis nibh a lacus lobortis, ac tristique nisl vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus blandit eros et mi rutrum tempus. Donec dignissim justo vel justo gravida rutrum. Phasellus ultrices magna vel sem ornare maximus. Sed lacinia sapien id tempus posuere. Proin congue, est ac accumsan accumsan, elit diam eleifend velit, et finibus odio diam ut tellus. Quisque sed ex in sem gravida faucibus. Nullam euismod rutrum ex, sed ultricies urna sodales id. Vivamus aliquet eleifend tempus. Maecenas non nulla sed libero porttitor mattis. Fusce in odio in diam congue dignissim. Morbi tellus purus, semper in varius vel, pulvinar ac ante. Etiam eget lorem a dui tincidunt facilisis ut et sapien. Curabitur euismod magna sapien, consectetur aliquet elit sollicitudin sed. Etiam nec massa vestibulum, congue lorem sit amet, ultricies turpis.</p>
{% endblock extra_content %}