{% load staticfiles %}
{% url 'general:events' as events_url %}

<div class="container-content">
    <p>Please make sure you have these remaining dates for 2020 on your calendar!</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li>February 1 Book 2-3 Students Rehearsal for Duets Recital 9:00 AM - 12:00 PM (Music Room)</li>
            <li>February 8 Evening of Poetry and Song benefiting Hospice Santa Cruz featuring Santa Cruz Poet Laureate Danusha Lameris and Divas Dianne Syrcle and Solmaaz Adeli collaborating with Kate - Doors Open 7 PM (West Side Location)</li>
            <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/hospice2020.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/hospice2020.pdf" width="30%"></a>
            <li>February 15 Duets Recital 11:00 AM (Music Room)</li>
            <li>May 2 Spring Recital 11:00 AM (Sanctuary) ... step outside afterwards to the pre-school Spring fair with adorable petting zoo!</li>
        </ul>
        </div>
    </div>
    <p>K-6 All Studio Classes in 2019-2020 on Saturdays:
        <br>Group A 9-10 & Group B 9:45 - 10:45:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li>January 18</li>
            <li>March 7</li>
            <li>April 18</li>
            <li>May 30 Last Potluck / Celebration (10-11 all students)</li>
        </ul>
        </div>
    </div>
    <p>Studio Closures for 2019-2020:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li>April 5-12</li>
            <li>May 21-26 (Kate will be at the Suzuki Biennial Conference - lessons will be pre-made up)</li>
        </ul>
        </div>
        <p>Note that Reading Club and Makeup dates are also available for: September 7, October 5, November 2, November 23, December 7, January 4, February 1, March 7, April 18, June 6</p>
    </div>
    {% if request.path == events_url %}
    <p>Recent events:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        Thank you for coming to the <strong>Kate Collaborating in Concert</strong> evenings. I was so excited to share this music with you, and it has started to established our studio as a donor to and supporters of these other artistic endeavors, thus giving us a way to enrich our greater community.
        <ul>
            <li>October 20, 2019 Fall Recital 2:00 PM (Sanctuary)</li>
            <li>November 23, 2019 Music in May Benefit Chamber Concert - Doors Open 7 PM (West Side Location)</li>
            <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/mim2019.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/mim2019.pdf" width="30%"></a>
            <li>December 7, 2019 Musical Open House K-8 Drop In / Potluck 10:30 AM - 12:00 PM (Music Room)</li>
            <li><strong>June 15, 2019 Haydn's Book 2</strong> 1-1:30 PUCC Sanctuary</li>
            <li><strong>May 19, 2019 Eli's Mozart Clarinet Concerto with <a href="https://sccys.org">Santa Cruz Youth Symphony</a></strong> 7PM (Peace UCC Sanctuary)</li>
            <li><strong>May 4, 2019 Kate Collaborating in Concert for '<a href="http://musicinmay.org" target="_blank">Music in May</a>’</strong> Evening for adults and teens: Featuring Peter Jandula-Hudson, viola, and Shannon Delaney D'Antonio, violin, collaborating with Kate Alm, piano, with selections from Schubert, Franck, Saint-Saens and others.</li>
            <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_mim.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_mim.pdf" width="30%"></a>
            <li><strong>April 27, 2019 Studio Recital</strong> 2PM (Sanctuary)</li>
            <li><strong>February 16, 2019 Tony's Book 1 and K-6 Duets Recital</strong> 11AM (Music Room)</li>
            <li><strong>February 9, 2019 Carnival of the Animals Duets Recital</strong> 4PM (West Side Santa Cruz House Concert). Benefits UCSC's Shakespeare to Go, donations accepted.</li>
            <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/carnival.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/carnival.pdf" width="30%"></a>
            <li><strong>Studio Open for Initial Observations for Prospective Families</strong> January 24 - February 4 (<a href="mailto:almusic@cruzio.com">contact Kate</a>)</li>
            <li><strong>December 15, 2018 Musical Open House</strong> (Music Room)</li>
            <li><strong>October 21, 2018 Studio Recital</strong> 2PM (Sanctuary)</li>
        </ul>
        </div>
    </div>
    {% endif %}
</div>
