{% load staticfiles %}

<div class="container-content">
    <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_mim.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_mim.pdf" width="50%"></a>
    <p>Please put these events on your calendar! More information to follow about the <strong>Kate Collaborating in Concert</strong> evening. I am so excited to share this music with you. And it will establish our studio as a donor to and supporters of these other artistic endeavors, thus giving us a way to enrich our greater community.</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li><strong>February 16 Tony's Book 1 and K-6 Duets Recital</strong> 11AM (Music Room)</li>
            <li><strong>April 27 Studio Recital</strong> 2PM (Sanctuary)</li>
            <li><strong>May 4 Kate Collaborating in Concert for '<a href="http://musicinmay.org" target="_blank">Music in May</a>’</strong> Evening for adults and teens: Featuring Peter Jandula-Hudson, viola, and Shannon Delaney D'Antonio, violin, collaborating with Kate Alm, piano, with selections from Schubert, Franck, Saint-Saens and others.</li>
            <li><strong>May 18 Eli's Mozart Clarinet Concerto with Santa Cruz Youth Symphony</strong> 2PM (Peace UCC Sanctuary)</li>
        </ul>
        </div>
    </div>
    <p>Recent events:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li><strong>February 9 Carnival of the Animals Duets Recital</strong> 4PM (West Side Santa Cruz House Concert). Benefits UCSC's Shakespeare to Go, donations accepted.</li>
            <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_shakes_final.pdf"><img src="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/kcc_shakes_final.pdf" width="30%"></a>
            <li><strong>Studio Open for Initial Observations for Prospective Families</strong> January 24 - February 4 (<a href="mailto:almusic@cruzio.com">contact Kate</a>)</li>
            <li><strong>All Studio Class</strong> 10AM, K-6 (Music Room)</li>
            <li><strong>December 15 Musical Open House</strong> (Music Room)</li>
            <li><strong>October 21 Studio Recital</strong> 2PM (Sanctuary)</li>
        </ul>
        </div>
    </div>
    <p>All-studio classes and studio closures:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li>The Winter/Spring <strong>All Studio Classes</strong> (for K-6) will be Saturdays, 10-11AM (Music Room)</li>
            <ul>
                <li>January 26</li>
                <li>March 16</li>
                <li>May 25</li>
            </ul>
            <li><strong>Studio closed</strong></li>
            <ul>
                <li>April 1-5</li>
            </ul>
        </ul>
        </div>
    </div>
</div>
