{% load staticfiles %}

<div class="container-content">
    <p>Please put these events on your calendar! More information to follow about the two <strong>Kate Collaborating in Concert</strong> evenings. I am so excited to share this music with you. And it will establish our studio as a donor to and supporters of these other artistic endeavors, thus giving us a way to enrich our greater community.</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li><strong>December 7 Musical Open House</strong> 5-7PM, for all grades (Music Room)</li>
            <li><strong>February 9 Kate Collaborating in Concert for '<a href="http://theater.ucsc.edu/programs/stg" target="_blank">Shakespeare-To-Go</a>'</strong> Evening for adults and teens: Featuring Anthony Jones, baritone, collaborating with Kate Alm, piano, and band, singing Gregory Porter Songbook. *Perfect for Valentine’s Day!! Tickets and more information at <a href="https://jazzfeb9.eventbrite.com">jazzfeb9.eventbrite.com</a>.</li>
            <li><strong>February 16 Duets Recital</strong> 11AM (Music Room)</li>
            <li><strong>April 27 All Studio Recital</strong> 2PM (Sanctuary)</li>
            <li><strong>May 4 Kate Collaborating in Concert for '<a href="http://musicinmay.org" target="_blank">Music in May</a>’</strong> Evening for adults and teens: Featuring Peter Jandulah-Hudson, viola, collaborating with Kate Alm, piano, and including the Franck Sonata and Schumann Fairytales.</li>
            <li><strong>May 18 Eli's Mozart Clarinet Concerto with Santa Cruz Youth Symphony</strong> 2PM (Aptos High School)</li>
        </ul>
        </div>
    </div>
    <p>Recent events:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li><strong>October 21 All Studio Recital</strong> 2PM (Sanctuary)</li>
        </ul>
        </div>
    </div>
    <p>All-studio classes and studio closures:</p>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9">
        <ul>
            <li><strong>All Studio Classes</strong>10-11AM, K-6 (Music Room)</li>
            <ul>
                <li>September 29</li>
                <li>October 20</li>
                <li>November 17</li>
                <li>December 15</li>
            </ul>
            <li><strong>Studio closed</strong></li>
            <ul>
                <li>November 19-23</li>
                <li>December 21-January 6 (Friday Dec 22 lessons move to Monday Dec 17)</li>
                <li>April 1-5</li>
            </ul>
        </ul>
        </div>
    </div>
</div>
