{% load staticfiles %}

<footer>
    <section class="footer-content">
        <div>
            &copy; Warrior Media Inc. 2018
        </div>
        <div>
            <a href="{% url 'general:term' %}">Terms of Use</a> -
            <a href="{% url 'general:privacy' %}">Privacy Policy</a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/warriormedia/" target="_blank">
                <img class="img-fluid" src="{% static 'images/Assets/socialmedia/linkedin/White/Logo-White-21px-R.png' %}" title="LinkedIn" alt="LinkedIn">
            </a>
        </div>
    </section>
</footer>