{% load staticfiles %}

<footer>
    <section class="social-media">
        <img src="http://via.placeholder.com/50x50" alt="Facebook">
        <img src="http://via.placeholder.com/50x50" alt="Twitter">
        <img src="http://via.placeholder.com/50x50" alt="Youtube">
        <img src="http://via.placeholder.com/50x50" alt="Instagram">
    </section>
    <section class="footer-content">          
        &copy; Warrior Media Inc. 2018 -  
        <a href="learnmore">Terms of Use</a> -         
        <a href="learnmore">Privacy Policy</a>

    </section>
</footer>