{% load staticfiles %}
{% url 'general:home' as about_url %}
{% url 'general:immersion' as immersion_url %}
{% url 'general:events' as events_url %}
{% url 'general:school_year' as school_year_url %}
{% url 'general:programs' as programs_url %}
{% url 'general:musicalsoulmates' as musicalsoulmates_url %}
<nav class="navbar navbar-fixed-top navbar-dark navbar-expand-lg container-fluid">
    <header class="header-top">
    <a class="navbar-brand navbar-link" href="{% url 'general:home' %}">
        <div class="row no-gutters text-center">
            <section class="col-12 col-md-7 col-lg-6 col-xl-5 order-2 order-md-1 align-self-center">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
                {% if request.path == about_url %}
                <h1 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h1>
                <h1 class="d-lg-none">Kate Alm</h1>
                {% endif %}
                {% if request.path == events_url %}
                <h1 class="d-none d-lg-block">Events and Contact Information</h1>
                <h1 class="d-lg-none">Events &amp Contact</h1>
                <h3 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h3>
                {% endif %}
                {% if request.path == immersion_url %}
                <h1 class="d-none d-lg-block">Immersion Program - New Students</h1>
                <h1 class="d-lg-none">Immersion</h1>
                <h3 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h3>
                {% endif %}
                {% if request.path == school_year_url %}
                <h1 class="d-none d-lg-block">School Year and Summer Policies</h1>
                <h1 class="d-lg-none">Current Students</h1>
                <h3 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h3>
                {% endif %}
                {% if request.path == programs_url %}
                <h1 class="d-none d-lg-block">Studio Archives</h1>
                <h1 class="d-lg-none">Studio Archives</h1>
                <h3 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h3>
                {% endif %}
                {% if request.path == musicalsoulmates_url %}
                <h1 class="d-none d-lg-block">Musical Soulmates</h1>
                <h1 class="d-lg-none">Musical Soulmates</h1>
                <h3 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h3>
                {% endif %}
            </section>
        </div>
    </a>
  </script>
        <div>
            {% if request.path == about_url %}
        	<section>
        	<p style="color:#9166b8">
                <h3><p><strong>Summer Session runs June 15 - August 16</strong></p></h3>
                {#<p><a class="header-link" href="https://suzukiassociation.org/news/cultivating-oestrong-arms-treea-keeping-teens/" target="_blank">Kate’s Article about her Suzuki Student-to-Student Mentoring program has been published!</a></p>#}
            <p>Now teaching with the option of in-person lessons</p>
                <p>Fall lessons begin September 1.&nbsp; Interested in Suzuki Piano? <a href='/new-students/' class='header-link'>Click here.</a></p>
                </p>
                                <p><a class="header-link" href="https://katealmsuzukipianostudio.com/programs#blm">Read Kate's statement in support of Black Lives Matter</a></p>

        	</section>
            {% endif %}
        </div>
    </header>
    </a>
    <button class="navbar-toggler navbar-toggler-right navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa home" aria-hidden="true" id="bars"></i></span>
    </button>

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center text-md-left">
            <li id="nav-about" class="nav-item {% if request.path == about_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:home' %}">Home Page</a></li>
            <li id="nav-events" class="nav-item {% if request.path == events_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:events' %}">Events & Contact</a></li>
            <li id="nav-immersion" class="nav-item {% if request.path == immersion_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:immersion' %}">Prospective Students</a></li>
            <li id="nav-school" class="nav-item {% if request.path == school_year_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:school_year' %}">Current Students</a></li>
            <li id="nav-programs" class="nav-item {% if request.path == programs_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:programs' %}">Studio Archives</a></li>
            <li id="nav-musicalsoulmates" class="nav-item {% if request.path == musicalsoulmates_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:musicalsoulmates' %}">Musical Soulmates</a></li>
        </ul>
    </div>
</nav>