{% load staticfiles %}
{% url 'general:home' as about_url %}
{% url 'general:immersion' as immersion_url %}
{% url 'general:events' as events_url %}
{% url 'general:school_year' as school_year_url %}
{% url 'general:programs' as programs_url %}
<nav class="navbar navbar-fixed-top navbar-dark navbar-expand-lg container-fluid">
    <a class="navbar-brand navbar-link" href="{% url 'general:home' %}">
    <header class="header-top">
        <div class="row no-gutters text-center">
            <section class="col-12 col-md-7 col-lg-6 col-xl-5 order-2 order-md-1 align-self-center">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
                {% if request.path == about_url %}
                <h1 class="d-none d-lg-block">Kate Alm Suzuki Piano Studio</h1>
                <h1 class="d-lg-none">Kate Alm</h1>
                {% endif %}
                {% if request.path == events_url %}
                <h1 class="d-none d-lg-block">Events and Contact Information</h1>
                <h1 class="d-lg-none">Events/Contact</h1>
                {% endif %}
                {% if request.path == immersion_url %}
                <h1 class="d-none d-lg-block">Immersion Program</h1>
                <h1 class="d-lg-none">Immersion</h1>
                {% endif %}
                {% if request.path == school_year_url %}
                <h1 class="d-none d-lg-block">School Year and Summer Policies</h1>
                <h1 class="d-lg-none">Current Students</h1>
                {% endif %}
                {% if request.path == programs_url %}
                <h1 class="d-none d-lg-block">Kate's Corner</h1>
                <h1 class="d-lg-none">Kate's Corner</h1>
                {% endif %}
            </section>
        </div>
        <div>
        	<section class="col-12 col-md-7 col-lg-6 col-xl-5 order-2 order-md-1 align-self-center">
        	<p style="color:#9166b8"> <!-- why isn't the color working?? -->
        		{% if request.path == about_url %}
                <h3 class="d-none d-lg-block"><strong>Next events: February 9 Duets Recital and Carnival of the Animals</strong></h3><h4 class="d-none d-lg-block">4PM House Concert (<a href=https://s3-us-west-2.amazonaws.com/ka-public/PDFs/carnival.pdf">see poster</a>)</h4>
                <h3 class="d-none d-lg-block"><strong>February 16 K-6 Duets Recital and Tony's Book 1</strong></h3><h4 class="d-none d-lg-block">11 AM Music Room</h4>
        		{% endif %}
                {% if request.path == immersion_url %}
                <h3 class="d-none d-lg-block"><strong>Studio Open for Initial Observations for Prospective Families</strong></h3><h4 class="d-none d-lg-block">January 24 - February 4 (<a href="mailto:almusic@cruzio.com">contact Kate</a>)</h4>
                <h3 class="d-none d-lg-block"><strong>10-week Spring Immersion Period</strong></h3><h4 class="d-none d-lg-block">February 11 - April 27</h4>
                {% endif %}
        	</p>
        	</section>
        </div>
    </header>
    </a>
    <button class="navbar-toggler navbar-toggler-right navbar-toggler-icon" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span><i class="fa home" aria-hidden="true" id="bars"></i></span> -->
    </button>

    <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto text-center text-md-left">
            <li id="nav-about" class="nav-item {% if request.path == about_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:home' %}">Home Page</a></li>
            <li id="nav-events" class="nav-item {% if request.path == events_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:events' %}">Events/Contact</a></li>
            <li id="nav-immersion" class="nav-item {% if request.path == immersion_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:immersion' %}">New/Prospective Students</a></li>
            <li id="nav-school" class="nav-item {% if request.path == school_year_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:school_year' %}">Current Students</a></li>
            <li id="nav-programs" class="nav-item {% if request.path == programs_url %}active{% endif %}"><a class="nav-link" href="{% url 'general:programs' %}">Kate's Corner</a></li>
        </ul>
    </div>
</nav>
