    <section>
        <div class="container-content">
            <h2 class="text-center">Warrior Media's Culture</h2>
            <p class="font-italic">Our culture in 57 words:</p>
            <p>We are highly ambitious, trustworthy and transparent, constantly improving, solution oriented people.</p>
            <p>We easily adapt to change, work hard and smart and always maintain a positive attitude regardless of the situation.</p>
            <p>We are focused on contributing to the success of our team and to the goal of changing the world through the promotion ofautonomous self improvement.</p>
            <h3 class="font-weight-bold m-0">THE WARRIOR ETHOS</h3>
            <p class="text-center font-italic mt-0">(The Culture Of Warrior Media)</p>
            <p>Ethos, the characteristic spirit of a culture or community as manifested in its beliefs and aspirations. This is the Ethos of the people (AKA Warriors) that make up Warrior Media.</p>
            <p>As a company, the underlying goal of Warrior Media is to change the world by showing people how to take responsibility for their personal development. We believe that there is no greater way to impact the world than by educating people toward autonomous self improvement.</p>
            <p>In order to create the greatest impact, our team of Warriors constantly strives to become the best and most efficient team in the world at bringing great people, products and ideas to the public markets. We do this by individually striving to live the principles set forth in The Warrior Ethos.</p>
            <p>Foundational is the understanding that we intentionally call our people Warriors. We do this because a Warrior's main function is to work as a team to most efficiently achieve a goal.</p>
            <p>Warriors are disciplined, focused and highly effective. They follow their leaders but have the ability to make quick autonomous decisions as long as these decisions improve the team's efficiency and are aligned with their overall goal.</p>
            <p>Warriors take personal responsibility over the results they produce. They display more integrity than their peers and when it's time, the most courageous Warriors are willing to jump on a grenade in order to accomplish the goal of the team. If you're not willing to jump on a metaphorical grenade for the betterment of your team, then don't bother trying to become a Warrior.</p>
            <p>Being a Warrior clearly isn't for everyone. However, for the small few who realize the value in working at a company whose goal is to positively impact the world and only allows other Warriors as team members, working at Warrior Media will be your dream come true!</p>
            <p>Many companies make bold claims like the ones above in hopes of attracting the best and brightest to come work for them. However, very few back them up with action. We believe that results are dictated by actions. Thus, the final reason we call our team members Warriors is because in real warfare, where people's lives are at risk, you ONLY want the best Warriors on your team.</p>
            <p>This may sound dramatic but we believe that the way we can most efficiently achieve our goals as a company is through ruthless self reflection as a whole. Unfortunately, a weak team member is a weak team. And we will not hesitate to replace weak  team members who are not embodying The Warrior Ethos with people who do.</p>
            <p class="font-weight-bold font-italic">To take this a final step further, here are the 8 specific qualities that we look for in our Warriors:</p>
            <div class="warrior-ethos-block">
                <div class="warrior-ethos">
                    <span data-position="0" class="text-active-blue">W</span>
                    <span data-position="1">A</span>
                    <span data-position="2">R</span>
                    <span data-position="3">R</span>
                    <span data-position="4">I</span>
                    <span data-position="5">O</span>
                    <span data-position="6">R</span>
                    <span data-position="7">S</span>
                </div>
                <div class="warrior-ethos-text warrior-ethos-carousel owl-carousel owl-theme">
                    <div class="item">
                        <h2>W &hyphen; WORK ETHIC</h2>
                        <p class="font-italic">The principle that hard work is intrinsically virtuous.</p>
                        <p>We believe that all big goals are achieved by hard work. Believing hard work is a virtue is a mandatory intrinsic quality of our Warriors. However, our judgment of an individual's work ethic is not weighed by the amount of daily hours they stay busy; rather, our judgment comes from what our Warriors produce.</p>
                        <p>In other words, our Warriors are judged by contribution to their team and to accomplishing a goal. It's not about seniority or quantity of hours put in. We believe this levels the playing field for an environment that will nurture and reward those who have a true productivity based work ethic.</p>
                    </div>
                    <div class="item">
                        <h2>A &hyphen; AMBITIOUS</h2>
                        <p class="font-italic">Having or showing a strong desire and determination to succeed.</p>
                        <p>We believe that our teams of Warriors should set extremely challenging goals for themselves. We also believe that a Warriors intrinsic desire and determination to succeed are hugely important when attempting to reach "stretch" goals.</p>
                        <p>Ambition to us means becoming the best we can both individually and as a team. Furthermore, our Warriors view failure as success and are not afraid to try the impossible on the chance that it could lead to an extraordinary success. We focus on producing the best, not worrying about failing.</p>
                    </div>
                    <div class="item">
                        <h2>R &hyphen; RELIABLE</h2>
                        <p class="font-italic">Consistently good in quality or performance; able to be trusted.</p>
                        <p>We extend absolute trust to our Warriors and believe in fostering a community where you can rely on the members of your team to go above and beyond for you. We believe that truth is such an important virtue that anyone caught being dishonest or unreliable will be removed from the team.</p>
                        <p>In addition to always being truthful, reliability means being willing to personally own the tasks you and your team take on and being willing to take full responsibility for the outcome produced by your team.</p>
                    </div>
                    <div class="item">
                        <h2>R &hyphen; RESOURCEFUL</h2>
                        <p class="font-italic">Having the ability to find quick and clever ways to overcome difficulties.</p>
                        <p>We believe that one of the key characteristics of our Warriors is that they have the ability to overcome overwhelming circumstances. To rise to any challenge head on and cleverly create and execute solutions is extremely important to us because our goals are ambitious.</p>
                        <p>An easy way to think about this is that resourcefulness means being solution-oriented rather than problem-focused. Solving problems is a huge part of what we do which is why we give our Warriors autonomy in their ability to create clever solutions to the problems they face with their teams. The bottom line is, Warriors don't need hand holding!</p>
                    </div>
                    <div class="item">
                        <h2>I &hyphen; INTELLIGENT</h2>
                        <p class="font-italic">Having good understanding, a high mental capacity and quick comprehension.</p>
                        <p> We believe that all big goals are achieved by hard work. Believing hard work is a virtue is a mandatory intrinsic quality
                            of our Warriors. However, our judgment of an individual's work ethic is not weighed by the amount of daily hours they
                            stay busy; rather, our judgment comes from what our Warriors produce.</p>
                        <p>In other words, our Warriors are judged by contribution to their team and to accomplishing a goal. It's not about seniority
                            or quantity of hours put in. We believe this levels the playing field for an environment that will nurture and reward
                            those who have a true productivity based work ethic.</p>
                    </div>
                    <div class="item">
                        <h2>O &hyphen; OPTIMISTIC</h2>
                        <p class="font-italic">Hopeful and confident about the future.</p>
                        <p>We believe that a naturally optimic character is necessary to achieving greatness. Our Warriors are positive even when they have every excuse to be otherwise. This does not mean being fake or void of feelings but rather that you acknowledge your own capability of having a positive attitude even when things are difficult.</p>
                        <p>Optimism is an essential component to any team who wishes to accomplish great things. It boosts morale, increases workplace satisfaction and makes working with your team easier and more enjoyable. Pessimism is a poison that our Warriors do not permit into their lives.</p>
                    </div>
                    <div class="item">
                        <h2>R &hyphen; RESILIENT</h2>
                        <p class="font-italic">Able to withstand or recover quickly from difficult conditions.</p>
                        <p>We believe that in order for us to achieve our goals while standing the test of time, we must embrace unforeseen changes. The world moves so fast that the company we are today will not be the company we are in the future. In order for us to be able to endure these changes as a team our Warriors must be resilient.</p>
                        <p>In other words, resilience to us means being willing to embrace change and doing so in a way that is optimistic and solution-oriented. The long-term success of our mission to change the world by showing people how to take responsibility for their personal development relies heavily on our Warriors' ability to be resilient.</p>
                    </div>
                    <div class="item">
                        <h2>S &hyphen; SELFLESS</h2>
                        <p class="font-italic">Concerned more with the needs of others than with your own.</p>
                        <p>We believe that Warriors have the ability to prioritize the needs of the whole rather than their their own personal needs. This is extremely important for a team that wants to accomplish great things. We understand that we cannot do this alone and that the most personal satisfaction comes from achieving great things with like-minded individuals.</p>
                        <p>Which is why our Warriors put the needs of their team in front of their own and would never wish failure upon a team member in hopes that their error will elevate their own position. Instead, our Warriors take full responsibility for their team members by banding together and making sure they are constantly improving their collective weak links to make the team stronger.</p>
                    </div>
                </div>
            </div>
            <h3 class="font-weight-bold">BUILDING A TEAM OF WARRIORS</h3>
            <p>Like we said in the beginning, the underlying goal of Warrior Media is to change the world by showing people how to take responsibility for their personal development. We believe that there is no greater way to impact the world than by educating people toward autonomous self improvement.</p>
            <p>We are positive that the only way we will achieve this goal as a company is to first and foremost be examples by constantly striving to improve ourselves. We do this by believing in our cause, and adhering to the values of The Warrior Ethos.</p>
        </div>
    </section>