/*
    Color Variables
*/

// Colors
$color-primary: #323232;

$color-red: #cc0000;
$color-green: #009100;
$color-blue: blue;
$color-grey: grey;
$color-white: white;
$color-black: black;
$color-orange: #EF6225;

$color-vistablue:#8EDBBC;
$color-royalblue:#3366FF

