// Colors
$color-primary: #818181;


$color-red: #cc0000;
$color-green: #009100;
$color-blue: blue;
$color-dark-grey: rgb(25,25,25);
$color-grey: rgb(225,225,225);
$color-white: white;
$color-black: black;
$color-orange: #EF6225;

$color-white-off: rgb(253,253,253);
$color-vistablue:#8EDBBC;
$color-royalblue:#3366FF;