/******************************************
Set all typography
text-size = Font Size
*******************************************/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
body{
	font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.font {
	&-size {
		&-one {
			font-size:1em !important;
		}
		&-one_two{
			font-size:1.2em !important;
		}
		&-one_five{
			font-size:1.5em !important;
		}
		&-one_eight{
			font-size:1.8em !important;
		}
		&-two{
			font-size: 2em !important;
		}
		&-two_five{
			font-size:2.5em !important;
		}
		&-three {
			font-size:3em !important;
		}
		&-three_five{
			font-size:3.5em !important;
		}
		&-four{
			font-size:4em !important;
		}
		&-five{
			font-size:5em !important;
		}
		@media screen and (min-width:768px) {
			&-md-one {
				font-size:1em !important;
			}
			&-md-one_two{
				font-size:1.2em !important;
			}
			&-md-one_five{
				font-size:1.5em !important;
			}
			&-md-one_eight{
				font-size:1.8em !important;
			}
			&-md-two{
				font-size: 2em !important;
			}
			&-md-two_five{
				font-size:2.5em !important;
			}
			&-md-three {
				font-size:3em !important;
			}
			&-md-three_five{
				font-size:3.5em !important;
			}
			&-md-four{
				font-size:4em !important;
			}
			&-md-five{
				font-size:5em !important;
			}
		}
		@media screen and (min-width:992px) {
			&-lg-one {
				font-size:1em !important;
			}
			&-lg-one_two{
				font-size:1.2em !important;
			}
			&-lg-one_five{
				font-size:1.5em !important;
			}
			&-lg-one_eight{
				font-size:1.8em !important;
			}
			&-lg-two{
				font-size: 2em !important;
			}
			&-lg-two_five{
				font-size:2.5em !important;
			}
			&-lg-three {
				font-size:3em !important;
			}
			&-lg-three_five{
				font-size:3.5em !important;
			}
			&-lg-four{
				font-size:4em !important;
			}
			&-lg-five{
				font-size:5em !important;
			}
		}
	}
}