// Colors
$color-primary: #323232;

$color-red: #cc0000;
$color-green: #009100;
$color-blue: blue;
$color-dark-grey: rgb(25,25,25);
$color-grey: rgb(225,225,225);
$color-white: white;
$color-black: black;
$color-orange: #EF6225;

$color-white-off: rgb(250,250,250);
$color-vistablue:#8EDBBC;
$color-royalblue:#3366FF;

// Font-Size
$text-xsmall: .25em;
$text-small: .5em;
$text-medium: .75em;
$text-normal: 1em;
$text-large: 1.25em;
$text-large-five: 1.5em;
$text-xlarge: 2em;
$text-xlarge-five: 2.5em;
$text-xnlarge-three: 3em;
$text-xnlarge-three-five: 3.5em;
$text-xnlarge-four: 4em;
$text-xnlarge-four-five: 4.5em;