{% extends "base.htm" %} 
{% load staticfiles %} 
{% block page_title %}Warrior Media's - About Us{% endblock page_title %}
{% block include_stylesheet %}
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlCarousel/assets/owl.theme.default.css' %}">
{% endblock include_stylesheet %}
{% block main_text %}
    <div class="container-layout">
        <header id="header-banner">Who Are We</header>
        <section>
            <div class="container-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis tortor sit amet augue placerat ornare vitae non urna. Phasellus at consectetur nibh. Ut eget egestas sapien, a euismod nulla. Suspendisse tincidunt est eget pulvinar interdum. Vivamus posuere ultrices purus, et pellentesque risus aliquam ac. Praesent nec gravida metus, sed suscipit metus. Nulla egestas id nisi quis efficitur. Duis a magna eget risus dictum finibus ac a felis. In hac habitasse platea dictumst.</p>
            </div>
        </section>
        {% include "include/warrior_ethos.htm" %}
        <section>
            <div class="container-content">
                <h2 class="text-center">Our Team</h2>
                <p class="content-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id
                    neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus
                    et, eleifend turpis. Cras non leo tellus.</p>
                <div class="row no-gutter justify-content-center mt-md-5">
                    {% for warrior in warriors %}
                    <div class="col-6 col-md-4 col-lg-3 text-center">
                        {% if warrior.image and warrior.image != None %}
                        <img class="img-fluid w-50" src="{{ warrior.image.url }}" alt="{{ warrior.name.url }}">
                        {% else %}
                        <img class="img-fluid w-50" src="{% static 'images/Assets/generic-user.png' %}" alt="{{ warrior.name }}">
                        {% endif %}
                        <div class="team-member mt-1 mt-md-3 mb-5">
                            <span class="d-block nember-name">{{ warrior.first_name }} {{ warrior.last_name }}</span>
                            <span class="d-block member-position">{{ warrior.position }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <div class="container-content">
                <h2 class="text-center">Life At Warrior Media</h2>
                <p class="content-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id
                    neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus
                    et, eleifend turpis. Cras non leo tellus.</p>
                <div class="d-none d-lg-block ">
                    <div class="row justify-content-center">
                        {% for image in images %}
                            {% if image.image and image.image != None %}
                            <div class="col-lg-4 text-center mb-3">
                                <img class="img-fluid" src="{{ image.image.url }}" alt="{{ image.name }}" title="{{ image.title }}">
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="imageCarousel owl-carousel owl-theme d-sm-block d-lg-none">
                {% for image in images %}
                    {% if image.image and image.image != None %}
                    <div class="item">
                        <img class="img-fluid" src="{{ image.image.url }}" alt="{{ image.name }}" title="{{ image.title }}">
                        <div>
                            <span>{{ image.title }}</span><br>
                            <span class="font-italic">{{ image.description }}</span>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </section>
        <section>
            <div class="container-content">
                <h2 class="text-center">Join Our Team</h2>
                <p class="content-blurb">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id
                    neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus
                    et, eleifend turpis. Cras non leo tellus. </p>
                <div class="link-main-active text-center">
                    <a href="https://www.indeed.com/" title="Indeed" target="_blank">Join Us</a>
                </div>
                <div class="row no-gutter">
                    <div class="col-12 col-md-4">
                        <img src="http://via.placeholder.com/640x360" alt="Our Team">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="http://via.placeholder.com/640x360" alt="Our Team">
                    </div>
                    <div class="col-12 col-md-4">
                        <img src="http://via.placeholder.com/640x360" alt="Our Team">
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock main_text %}
    {% block page_scripts %}
        {{block.super}}
        let warriorCarousel = $('.warrior-ethos-carousel');
        warriorCarousel.owlCarousel({
            loop:true,
            nav:false,
            dots:true,
            dotData:true,
            items:1,
            onTranslated: updateCarousel,
        });

        let imageCarousel = $('.imageCarousel');
        imageCarousel.owlCarousel({
            loop:true,
            dots:true,
            items:1,
            responsive: {
                768 : {
                    items:3,
                    margin:15
                }
            }
        });

        // Add Click Event Listener to WARRIORS span text
        let ethosLetters = document.querySelectorAll(".warrior-ethos span");
        ethosLetters.forEach(function(letter) {
            letter.addEventListener("click", function() {

                // Remove class from selector
                document.querySelector(".warrior-ethos .text-active-blue").classList.remove("text-active-blue");
                this.classList.add("text-active-blue");

                // Get Corresponding owlCarousel position of the clicked letter
                let dataPosition = letter.dataset.position;

                // Move Ethos Carousel to correct position
                warriorCarousel.trigger('to.owl.carousel', dataPosition);
            }, false);
        });
        document.querySelector(".warrior-ethos-carousel .owl-dots").classList.add("d-none");
        function updateCarousel(event) {

            let container = document.querySelector(".warrior-ethos");

            //Get the correct letter corresponding to the text
            let selectedIndex = container.querySelector(`span[data-position=\"${event.page.index}\"]`);

            // Remove class from selector
            document.querySelector(".warrior-ethos .text-active-blue").classList.remove("text-active-blue");
            selectedIndex.classList.add("text-active-blue");
        }

    {% endblock page_scripts %}