{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Warrior Media's - About Us{% endblock page_title %}

{% block main_text %}
<main>
    <section>
        <header id="header-brand">Who Are We</header>
        <div class="container-content">
            <section>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis tortor sit amet augue placerat ornare vitae non urna.
                    Phasellus at consectetur nibh. Ut eget egestas sapien, a euismod nulla. Suspendisse tincidunt est eget pulvinar interdum.
                    Vivamus posuere ultrices purus, et pellentesque risus aliquam ac. Praesent nec gravida metus, sed suscipit metus. Nulla
                    egestas id nisi quis efficitur. Duis a magna eget risus dictum finibus ac a felis. In hac habitasse platea dictumst.
                </p>
                <p>
                    Morbi et aliquam mi. Curabitur venenatis interdum malesuada. Sed non nibh non massa porttitor malesuada sed eget massa. Nunc
                    eu tortor eu risus congue porttitor sed vel magna. Morbi ut consectetur felis. Vivamus in ex porttitor, mattis risus
                    eu, fermentum massa. Vestibulum sed diam eu augue cursus lobortis vel sed erat. Nulla non tellus ut ante sagittis semper.
                    Nunc interdum placerat dui. Nulla dapibus gravida lorem, sed posuere lorem vehicula non. In blandit ligula eget risus
                    vehicula, eget scelerisque enim rhoncus. Donec consequat neque non consectetur euismod. Maecenas in tempor ipsum, sit
                    amet tempor sem. Cras sodales purus nec nisi feugiat rhoncus.
                </p>
                <p>
                    Integer non rhoncus turpis, eu porttitor nibh. Morbi eu tortor id purus mattis congue semper at enim. Etiam malesuada, neque
                    nec aliquam dapibus, mauris est tincidunt odio, a tristique leo urna eu augue. Vivamus volutpat eu elit eu tristique.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel sem consectetur, viverra mauris ornare, commodo
                    turpis. Vivamus ut finibus lorem. Cras dapibus, justo a commodo semper, metus dui tincidunt quam, vel ornare leo velit
                    id enim. Quisque auctor quam vitae eros tempor fringilla. Pellentesque pharetra vel nunc id porta.
                </p>
            </section>
            <section>
                <header class="section-title">Warrior Media's Culture</header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus et, eleifend turpis. Cras non leo tellus. </p>
                <div id="warrior-ethos">
                    <span>W</span>
                    <span>A</span>
                    <span>R</span>
                    <span>R</span>
                    <span>I</span>
                    <span>O</span>
                    <span>R</span>
                    <span>S</span>
                </div>
                <div class="warrior-ethos-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus et, eleifend turpis. Cras non leo tellus. </p>
                </div>
            </section>
            <section>
                <header class="section-title">Our Team</header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus et, eleifend turpis. Cras non leo tellus.</p>
                <div class="row no-gutter">
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/150x150" alt="Team Members Name">
                        <div class="team-member">
                            <span class="member-name">Members Name</span>
                            <span class="member-position">Members Position</span>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <header class="section-title">Life At Warrior Media</header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus et, eleifend turpis. Cras non leo tellus.</p>
                <div class="row no-gutter">
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                    <div class="col-6 col-md-4 col-lg-3">
                        <img src="http://via.placeholder.com/254x169" alt="Life At Warrior Media">
                    </div>
                </div>
            </section>
            <section>
                <header class="section-title">Join Our Team</header>
                <div class="container-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc imperdiet suscipit tristique. Cras sed metus id neque tristique sodales. Cras efficitur eu est sit amet dapibus. Nulla sed nulla luctus, malesuada lectus et, eleifend turpis. Cras non leo tellus. </p>
                    <a href="learnmore">Join us</a>
                    <div class="row no-gutter">
                        <div class="col-12 col-md-4">
                            <img src="http://via.placeholder.com/640x360" alt="Our Team">
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="http://via.placeholder.com/640x360" alt="Our Team">
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="http://via.placeholder.com/640x360" alt="Our Team">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
</main>
{% endblock main_text %}