{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Warrior Media's - Our Brand - {{brand_name}}{% endblock page_title %}

{% block main_text %}
<main>
    <section>
        <header id="header-banner-brand" class="header-{{brand_name}}">{{brand_name}}</header>
        <div class="container-content">
            {{blurb_content}}
            <div class="row no-gutter">
                <div class="col-12 col-md-6">
                    <h3 class="header-title">About {{brand_owner}}</h3>
                    {% block content_owner %}{% endblock content_owner %}
                </div>
                <div class="col-12 col-md-6">
                    <img src="{% block image_owner %}{% endblock image_owner %}" alt="About {{brand_owner}} Image">
                </div>
                <div class="col-12 col-md-6 pull-md-6">
                    <img src="http://via.placeholder.com/640x360" alt="{{brand_name}} Goals Image">
                </div>
                <div class="col-12 col-md-6 push-md-6">
                    <h3 class="header-title">{{brand_name}} Goals</h3>
                    {% block content_brand %}{% endblock content_brand %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <header class="header-brand-subtitle header-{{brand_name}}-color">{% block sub_title %}{% endblock sub_title %}</header>
        <div class="container-content">
            {% block sub_content %}{% endblock sub_content %}
        </div>
    </section>
    <section>
        <div class="container-content">
            {% block extra_content %}{% endblock extra_content %}
            {% block testimonials %}{% endblock testimonials %}
            <a href="{{brand_url}}">Visit {{brand_name}}</a>
        </div>
    </section>
</main>
{% endblock main_text %}