{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
        <section>
            {% include "include/events_list.htm" %}
        </section>
        <section id="new-students">
            <header id="banner-documents">Contact Me!</header>
            <div class="row container-content justify-content-center">
                <ul>
                <li><strong>Email</strong> is the appropriate way to keep me in the loop about trading times with other families <a href="mailto:almusic@cruzio.com">almusic@cruzio.com</a>. </li>
                <li><strong>Phone Call</strong> is the appropriate way to alert me about that day's unplanned absence <a href="tel:+18312277535">831-227-7535.</a> </li>
                <li><strong>In person</strong> at the lesson is the appropriate way to discuss any concerns or questions about your child's progress or any permanent scheduling changes. If you have had problems practicing well with your child, for example, or you want to express important information about your child's needs, please mention this to me at the beginning of the lesson and we will discuss it then or at the end. In most cases, if you feel you need privacy from your child, you can simply ask your child to wait outside.</li></p>
                <p>
            </div>
        </section>
    </div>
{% endblock main_text %}
