{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
        <section>
            <div class="container-content">
                <p>Please put these 9 events on your calendar! More information to follow about the two <strong>Kate Collaborating in Concert</strong> evenings. I am so excited to share this music with you. And it will establish our studio as a donor to and supporters of these other artistic endeavors, thus giving us a way to enrich our greater community.</p>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-10">
                    <ul>
                        <li><strong>September 29 Rising Stars MTAC Concert</strong> by invitation from Kate, but plan to attend regardless of whether your child is performing!!!</li>
                        <li><strong>October 12 Teen Recital</strong> teens please RSVP</li>
                        <li><strong>October 21 All Studio Recital</strong> 2PM</li>
                        <li><strong>December 7 Musical Open House</strong> 5-7PM, for all grades</li>
                        <li><strong>February 9 Kate Collaborating in Concert for 'Shakespeare-To-Go'</strong> Evening for adults and teens: Featuring Anthony Jones, collaborating with Kate Alm, piano, and band, singing Gregory Porter Songbook. *Perfect for Valentine’s Day!!</li>
                        <li><strong>February 16 Duets Recital</strong> 11AM</li>
                        <li><strong>April 27 All Studio Recital</strong> 2PM</li>
                        <li><strong>May 4 Kate Collaborating in Concert for 'Music in May’</strong> Evening for adults and teens: Featuring Peter Jandulah Hudson collaborating with Kate Alm, piano and Including the Franck Sonata and Schumann Fairytales.</li>
                        <li><strong>May 18 Eli's Mozart Clarinet Concerto with Santa Cruz Youth Symphony!!!</strong> Time and location TBA</li>
                    </ul>
                    </div>

                </div>
            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Contact Me!</header>
            <div class="row container-content justify-content-center">
                <ul>
                <li><strong>Email</strong> is the appropriate way to keep me in the loop about trading times with other families <a href="mailto:almusic@cruzio.com">almusicATcruzio.com</a>. </li>
                <li><strong>Phone Call</strong> is the appropriate way to alert me about that day's unplanned absence <a href="tel:+18312277535">831-227-7535.</a> </li>
                <li><strong>In person</strong> at the lesson is the appropriate way to discuss any concerns or questions about your child's progress or any permanent scheduling changes. If you have had problems practicing well with your child, for example, or you want to express important information about your child's needs, please mention this to me at the beginning of the lesson and we will discuss it then or at the end. In most cases, if you feel you need privacy from your child, you can simply ask your child to wait outside.</li></p>
                <p>
            </div>
        </section>
    </div>
{% endblock main_text %}