{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    <div class="container-layout">
        <section>
            <div class="container-content">
{#                <div style="text-align: center">#}
{#                    <h1>Come be a part of Harmony Youth Choir!</h1>#}
{#                    <h3>#}
{#                        Serving BIPOC / Underserved Youth#}
{#                        <br>#}
{#                        Mentored by <a href="https://youtu.be/kYmWH9fxo9c" target="_blank" style="color:black;"><strong>Kate Alm</strong> and the <strong>Juneteenth Collective</strong></a>#}
{#                    </h3>#}
{#                </div>#}
{#                <div style="text-align: center">#}
{#                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth1.png" alt="Performance by the Juneteenth Collective" class="harmony-image"/>#}
{#                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth2.png" alt="Children watching a performance by the Juneteenth Collective" class="harmony-image"/>#}
{#                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth3.png" alt="Performance by the Juneteenth Collective" class="harmony-image"/>#}
{#                </div>#}
{#                <div style="text-align: center">#}
{#                    <div style="font-size: 22pt">NO AUDITIONS</div>#}
{#                    <div style="font-size: 18pt">The Choir will perform <strong>May 26</strong> in <strong>Watsonville</strong> at the <strong>Music in May Festival</strong></div>#}
{#                </div>#}
{#                <div>#}
{#                    <strong>WHEN: </strong> SATURDAYS: April and May: 8:15 AM - 9:30 AM<br>#}
{#                    <strong>WHERE: </strong> Live Oak (at Everyone's Music School) and Watsonville (TBD)<br>#}
{#                    <strong>HOW: </strong> Contact Kate: (831) 227-7535<br>#}
{#                    Rehearsals $2.50/child; $5 for 2 or more from a family#}
{#                </div>#}
{#                <div>All rehearsals can be held outdoors if needed.</div>#}
                <div>
                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/HYC_poster4_FINALHR.png" alt="Harmony Youth Choir Poster"/>
                </div>
            </div>

            <div class="container-content">
                <h3>For your casual listening: Songs for Harmony Choir rehearsal this Saturday</h3>
                Please note that we will not necessarily perform all of these songs, nor will we sing them exactly as you here them recorded or in their entirety. It is a creative process, we will be meeting the kids where they are musically and in terms of lyrics and spirit.

                <ul>
                    <li>United in Song is our "Theme Song" that the kids will perform with the Music in May musicians. Here is a recording.<br>
                        <audio controls>
                    <source src="https://ka-static-media.s3.us-west-2.amazonaws.com/static/media/United+In+Song+-+Tom+Brand.mp3" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio></li>
                    <li><a href="https://www.youtube.com/watch?v=CuPlbISAoBg" target="_blank">Eyes on Tomorrow, Feet on Today - Miriam Makeba</a></li>
                    <li><a href="https://www.youtube.com/watch?v=O2OU776PGMk" target="_blank">Wave</a></li>
                    <li><a href="https://www.youtube.com/watch?v=aEmDPDi7Qcg" target="_blank">Breathe - India Arie</a></li>
                    <li><a href="https://www.youtube.com/watch?v=59R7lHsmvfA" target="_blank">Abide With Me (very abbreviated)</a></li>
                </ul>
                Warmly and with the utmost respect for your time and your artistry,<br> – Kate
            </div>

            <div style="margin-left: 30px; margin-right: 30px;">
                <h3>Harmony Youth Choir Fact Sheet:</h3>
<ul>
    <li>Ages 6-16</li>
    <li>Santa Cruz: Saturdays, March 26-May 21, 2:00-3:15</li>
    <li>
    <ul>
<li>Everyone’s Music School: 3627 Portola Dr, Santa Cruz, CA 95062</li>
        </ul>
    </li>
    <li>Watsonville Component: 3-4 on Sundays, location place available from Kate</li>

    <li>Saturday Rehearsals my be Zoomed</li>

    <li>High Profile Performance: Music in May Festival,  Early Evening of Thursday May 26, Watsonville</li>
    <li>Dress Rehearsal with Music in May Musicians : Early Evening of Tuesday, May 24th, Watsonville</li>
<br>
    <li>Serving  majority BIPOC/Underserved Youth</li>
    <li>Served by Majority BIPOC instructors</li>
    <li>Every Santa Cruz Rehearsal will include a BIPOC Guest Musician who will speak and share a Musical Experience with the youth</li>
    <li>No Auditions</li>
    <li>Cost: $2.50/rehearsal/child; $5.00 per rehearsal for family unit (siblings/cousins)</li>
    <li>You need not attend every rehearsal</li>
    <li>You will be able to access the recordings of the songs and recorded parts</li>
</ul>

<h3>About the Director and the vision for Harmony Choir:</h3>
<div style="text-indent: 5rem">
The Harmony Choir grew out of a vision that Kate and Rebecca Jackson, founder of Music in May, share for serving underserved youth through music. Therefore the first performance of the Harmony Choir will be on the Music in May stage on Thursday May 26th, in Watsonville at their Community Concert.
</div>
    <br><div style="text-indent: 5rem">
After a lifetime of Classical training and graduating from San Francisco Conservatory as a pianist, Kate had a musical awakening when attending the Santa Cruz Missionary Baptist Church. For 30 years, she has remained dedicated to Gospel music, and has also invested 30 years in learning how to teach piano effectively, nurturing, through the Suzuki philosophy  students and their families. A member of Gospel Music workshop of America for 18 years, She has founded and taught Youth Gospel Choirs for decades here in Santa Cruz, most notably the MLK, Jr. Gospel Choir which performed, with Sista Monica, in 2003 on the stage of the Civic Center for the UCSC MLK Convocation.
</div>
    <br><div style="text-indent: 5rem">
After George Floyd and a re-awakening to the contemporary Santa Cruz Black community, she was moved to form her Juneteenth Collective to skillfully support BIPOC singers on the Juneteenth Santa Cruz  stage to deliver American masterpiece songs of Freedom , Joy ,and Protest by such artists as Lauryn Hill, Nina Simon, and Common. She has asked her Collective to collaborate with her in order to pass on the joy and freedom of musical expression to majority BIPOC Youth, and is expanding her vision by inviting these amazing BIPOC musicians to co-lead the youth choir. The program is  paying the mentors and speakers, all BIPOC, and giving them exposure and experience even while serving the BIPOC youth for almost no charge; Harmony Youth Choir is supported by  Everyone’s Music School , Santa Cruz ( a Black owned business) and Music in May.
</div>
    <br><div style="text-indent: 5rem">
The Collective itself will give a show to raise funds for the choir, on April 1st. 5-7 at Greater Purpose Brewery (all ages). The Collective will be again performing songs suitable to a Juneteenth celebration- this time including originals as well as masterpieces by Erika Baydu, India.Arie and others. as well as performing some of the songs they will be teaching the youth.
            <br><br>
            </div></div>
        </section>
    </div>
{% endblock main_text %}
