{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    <div class="container-layout">
        <section>
            <div class="container-content">
                <div style="text-align: center">
                    <h1>Come be a part of Harmony Youth Choir!</h1>
                    <h3>
                        Serving BIPOC / Underserved Youth
                        <br>
                        Mentored by <a href="https://youtu.be/kYmWH9fxo9c" target="_blank" style="color:black;"><strong>Kate Alm</strong> and the <strong>Juneteenth Collective</strong></a>
                    </h3>
                </div>
                <div style="text-align: center">
                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth1.png" alt="Performance by the Juneteenth Collective" class="harmony-image"/>
                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth2.png" alt="Children watching a performance by the Juneteenth Collective" class="harmony-image"/>
                    <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/harmonyyouth3.png" alt="Performance by the Juneteenth Collective" class="harmony-image"/>
                </div>
                <div style="text-align: center">
                    <div style="font-size: 22pt">NO AUDITIONS</div>
                    <div style="font-size: 18pt">The Choir will perform <strong>May 26</strong> in <strong>Watsonville</strong> at the <strong>Music in May Festival</strong></div>
                </div>
                <div>
                    <strong>WHEN: </strong> SATURDAYS: April and May: 8:15 AM - 9:30 AM<br>
                    <strong>WHERE: </strong> Live Oak (at Everyone's Music School) and Watsonville (TBD)<br>
                    <strong>HOW: </strong> Contact Kate: (831) 227-7535<br>
                    Rehearsals $2.50/child; $5 for 2 or more from a family
                </div>
                <div>All rehearsals can be held outdoors if needed.</div>
            </div>
        </section>
    </div>
{% endblock main_text %}
