{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Musical Soulmates{% endblock page_title %}
{% block main_text %}
 <div class="container-content">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        </h4>
                        <p>Thank you for your profoundly generous support of Musical Soulmates.</p>
                        <p>From the proceeds of our our concerts which ran last August (our tiny stream),
                          through November 7 and December 12 -which was then postponed and combined with our 
                          February 27 concert- Musical Soulmates reached and exceeded , by 50%, our fundraising goal:
                          I had the honor of writing and sending a check of $1,500 EACH to Music in May and to NAACP 
                          Santa Cruz, and also paid all the performers and contributors. Thank you! I hope you enjoyed, continue to enjoy, or
                          will enjoy our two concerts.(The url’s you purchased are still watchable, and may be available for purchase at future
                          Soulmates events).  </p>
                    </div>
                </div>
  </div>
<div class="col-12 col-lg-5">
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/HeadShot.jpg" alt="Kate Alm" class="img-fluid img-thumbnail image-shadow">
</div>
{% endblock main_text %}
