{% extends "base.htm" %}
{% load staticfiles %}
{% block page_title %}Musical Soulmates{% endblock page_title %}
{% block main_text %}
 <div class="container-content">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <p><strong><h4>Tickets & Details:</h4></strong>
                            <ul>
{#                        <li>October 9 - An Evening of Gospel Music - <a href="https://livetammiandterrance.eventbrite.com" target="_blank">Live</a> - <a href="https://digitaltammiandterrance.eventbrite.com" target="_blank">Digital</a></li>#}
                        <li>November 21 - Joy! - <a href="https://livesoulmatesjoy.eventbrite.com" target="_blank">Live</a> - <a href="https://digitalsoulmatesjoy.eventbrite.com" target="_blank">Digital</a></li>
                        <li>April 20 - Transcendence & Transformation - <a href="https://www.eventbrite.com/e/musical-soulmates-live-transcendence-and-transformation-art-songs-tickets-172047487667?aff=ebdssbeac" target="_blank">Live</a> - <a href="https://www.eventbrite.com/e/musical-soulmates-digital-transcendence-and-transformation-art-songs-tickets-172048470607" target="_blank">Digital</a></li>
                    </ul>
                        </p><br>
                        <p><strong>September 19, 2021: </strong>I am absolutely thrilled to be raising awareness and funds for Juneteenth, Santa Cruz, and for Music in May, and to be uniting them as well- in spirit, not officially- next Spring as I collaborate with my <a href="https://youtu.be/kYmWH9fxo9c" target="_blank">Juneteenth Collective</a> to mentor and educate underserved youth in our  Harmony Choir for a concert event that will be an outreach of Music in May.
</p>
<p>I am also just beyond honored that both of the concerts are Black and BIPOC positive events: on November 21, half of performers represent BIPOC. In these times, it is a joy to note such organic relationships and to both intentionally create and to normalize such expansiveness. On April 10th, not only does Diva Leberta Lorál again bring more inclusivity to our stage ,but ,once again,  Black, Female, and Black Female composers will be richly represented.
</p>
<p>Personally, I am so blessed to be continuing on my lifelong musical journey with the works of the featured composers and with my Musical Soulmates, with personal excellence at the fore while  proudly AND humbly serving Music in May and Juneteenth, Santa Cruz.
</p>
                        <p>Many of you are aware of my immersion on Gospel Music. On October 9th, I will step aside as pianist and welcome, as producer, to the Musical Soulmates stage, top of the line, world class Gospel, including our own Tammi Brown,and Oakland’s very own Terrance Kelly and his Oakland Interfaith Gospel Ensemble. I have been influenced and inspired by each of these artist, who are friends who and are sharing the stage (at the Resource Center for Nonviolence in Santa Cruz and Digitally as well) to support and raise funds for Michelle Nash. Michelle Nash is my Musical Sister, Inspiration and Friend, who can be seen singing <a href="https://www.youtube.com/watch?v=udyv3tDvSo4&t=180s" target="_blank">herself on my website</a>.
</p>



                    </div>
             <div class="col-12 col-lg-5">
                        <a href="https://livesoulmatesjoy.eventbrite.com" target="_blank"><img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/KA_Nov21_flyer_FinalHR.jpg" alt="November 21 Poster" class="img-fluid img-thumbnail image-shadow"></a>
                        <a href="https://www.eventbrite.com/e/musical-soulmates-live-transcendence-and-transformation-art-songs-tickets-172047487667?aff=ebdssbeac" target="_blank"><img src="https://ka-static-media.s3.us-west-2.amazonaws.com/static/images/KA_APRIL10_22_flyer_finalrevHR.jpg" alt="April 10 Poster" class="img-fluid img-thumbnail image-shadow"></a>
                 <p>[Cancelled]:
{#                 <a href="https://livetammiandterrance.eventbrite.com" target="_blank">#}
                     <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/KA_Oct9_flyer.jpg" alt="October 9 Poster" class="img-fluid img-thumbnail image-shadow">
{#                 </a>#}
                 </p>

                 <br><br></div>
                    <div class="col-12 col-lg-7">
                        <p><strong>March 2021: </strong>Thank you for your profoundly generous support of the Musical Soulmates concert series.</p>
                        <p>From the proceeds of our our concerts which ran last August (our tiny stream),
                          through November 7 and December 12 -which was then postponed and combined with our 
                          February 27 concert- Musical Soulmates reached and exceeded , by 50%, our fundraising goal:
                          I had the honor of writing and sending a check of $1,500 EACH to Music in May and to NAACP 
                          Santa Cruz, and also paid all the performers and contributors. Thank you! I hope you enjoyed, continue to enjoy, or
                          will enjoy our two concerts.(The URLs you purchased are still watchable, and may be available for purchase at future
                          Soulmates events).  </p>
                    </div>
                    <div class="col-12 col-lg-5">
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/musicalSoulmatesPOSTER.jpg" alt="Poster 1" class="img-fluid img-thumbnail image-shadow">
                    </div>
                    <div class="col-12 col-lg-7">
                        
      <p><strong>February 8, 2020: </strong> Evening of Poetry and Song benefiting Hospice Santa Cruz featuring Santa Cruz Poet Laureate Danusha Lameris and Divas Dianne Syrcle and Solmaaz Adeli collaborating with Kate - Doors Open 7 PM (West Side Location) (Raised $1,000 for Hospice Santa Cruz)</p>
                    </div>
                    <div class="col-12 col-lg-5">
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/soulmatesPoster2 (2).jpg" alt="Poster 2" class="img-fluid img-thumbnail image-shadow">
                    </div>
    <div class="col-12 col-lg-7">
                        
    <p><strong>November 23, 2019: </strong> Music in May Benefit Chamber Concert - Doors Open 7 PM (West Side Location) (Raised $1,000 for MiM!) </p>
                    </div>
                    <div class="col-12 col-lg-5">
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/soulmatesPoster3 (2).jpg" alt="Poster 3" class="img-fluid img-thumbnail image-shadow">
                    </div>
<div class="col-12 col-lg-7">
                       
    <p><strong>May 4, 2019: </strong> Kate Collaborating in Concert for 'Music in May’ Evening for adults and teens: (raised $1,000 for MiM!) Featuring Peter Jandula-Hudson, viola, and Shannon Delaney D'Antonio, violin, collaborating with Kate Alm, piano, with selections from Schubert, Franck, Saint-Saens and others</p>
                    </div>
                    <div class="col-12 col-lg-5">
                        <img src="https://ka-static-media.s3-us-west-2.amazonaws.com/static/images/soulmatesPoster4 (2).jpg" alt="Poster 4" class="img-fluid img-thumbnail image-shadow">
                    </div>
                </div>
</div>
{% endblock main_text %}
