{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
        <section>
            <div class="container-content">
{#                FIXME: These images show up sideways, fix this and publish#}
{#                <p><strong>September 1, 2019</strong> Some inspiring images from this summer:</p>#}
{#                <p>Kate’s Colleagues at Book 7 training</p><p><img src="{% static 'images/Colleagues1.jpg' %}" width="300" style="rotation: 180deg"></p>#}
{#                <p>Colleagues from Mexico &amp Argentina </p><p><img src="{% static 'images/Colleagues2.jpg' %}" width="300" style="image-orientation: 90deg"></p>#}
{#                <p>Pianos from tour of Estonia Piano factory </p><p><img src="{% static 'images/EstoniaPiano1.jpg' %}" width="300">#}
                    <img src="{% static 'images/EstoniaPiano2.jpg' %}" width="300"></p>
                <p><strong>August 3, 2019</strong> This is music from, Rahel Talts, a 20 year old pianist who I met while travelling in Estonia:<p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/09imD0ZoCl4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>From him: "We are just making the album so soon (in autumn) it will be realeased. This is one tune from the album. This is my own tune, for my final exam of music college (last year)"</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1SZAAAghLWs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <p>"And here playing with my mom and dad (my mom's tune)</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/STSynYxKZUw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <p><strong>August 3, 2019</strong> Music by Bach performed by a young boy, age 11 growing up in Vienna, performing at St. Stephens Cathedral:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/kaaThBIr3VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
                <p><strong>September 3, 2018</strong> Please see the required reading section below to get more information about my reading classes, as well as student-to-student mentoring.</p>
            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Required Reading</header>
            <div class="row container-content justify-content-center">
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/ReadingClub.pdf" target="_blank"><img width="100%" src="{% static 'images/ReadingClubThumb.jpg' %}" alt="Reading Club"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Mentoring.pdf" target="_blank"><img width="100%" src="{% static 'images/MentorThumb.jpg' %}" alt="Student Mentoring"></a></div>
            </div>
        </section>
    </div>
{% endblock main_text %}
