{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
        <section>
            <div class="container-content">
                <p><strong>May 4, 2019</strong> Will be a fabulous professional chamber music concert (featuring Kate, Peter Jandula-Hudson, Shannon Delaney D'Antonio, Ann Saphir, and friends (see the poster on the homepage!). 
                    Two of the major pieces that will be played are the <a href="https://www.youtube.com/watch?v=YCp5XC2rsEM">Franck Viola Sonata</a> and the <a href="https://www.youtube.com/watch?v=KoGW9fbK05c">Saint Saëns Piano Quartet</a>.
                    Give the pieces a listen ahead of the concert!</p>
                <p><strong>September 3, 2018</strong> Please see the required reading section below to get more information about my reading classes, as well as student-to-student mentoring.</p>
            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Required Reading</header>
            <div class="row container-content justify-content-center">
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/ReadingClub.pdf" target="_blank"><img width="100%" src="{% static 'images/ReadingClubThumb.jpg' %}" alt="Reading Club"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Mentoring.pdf" target="_blank"><img width="100%" src="{% static 'images/MentorThumb.jpg' %}" alt="Student Mentoring"></a></div>
            </div>
        </section>
    </div>
{% endblock main_text %}
