{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
    
        <section>
            <div class="container-content">
                <p>Thank you for the privilege of working with you and your child. Please read through this information. We will be reviewing it, as well as the <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Tuition17-18.pdf" target="_blank">Dates Handout</a> and the <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/ParentResponsibilities.pdf" target="_blank">Parent Responsibilities Handout</a> at your child's first September lesson. As you know, if you have had more than a year or so of piano with me, this important conference also serves to refresh our mutual understanding of your daughter's or son's needs and aspirations at the piano.</p> 
                <p>By paying tuition you receive the following (in addition to a lifetime of benefits!): Weekly group lesson, weekly private lesson, 5 or 6 yearly recitals/events, All Studio Class (approximately 5), Ensemble opportunities, Opportunity to sign up to perform on one of the three to five Music Teacher's Association of California, Santa Cruz Branch Recitals, participate in MTAC programs, and opportunity to participate and attend the Suzuki Bay Area Piano Graduation Recitals.</p>
                <p>I often may teach a lesson a little longer than the time agreed to, and I occasionally teach the lesson a little shorter than time allotted. This is according to the needs of your child. You are paying for the overall positive and nurturing musical growth of your child. You are not paying by the minute. By agreeing to the studio policy you agree to allow me to end and begin the lesson as I perceive necessary, and you agree that observing a lesson ending a little late (into your lesson time) is a valuable and important part of lessons. When I accept your tuition payment, I have your understanding that I work with the best interest of your child at heart and I work in good faith with utmost respect for your sacrifice of time and financial commitment.</p>
                <p><strong>Absences</strong><br>
                I do take sick leave, which is two Weeks between September and May with no makeup. Each week includes both a private and a group lesson. Up to 2 more weeks' sick leave will be credited in lesson credit to the Summer (this complements my summer policy of my suspended sick leave and of leniency - credit to Fall - for up to 2 of your missed lessons).</p>
                <p>Child's lesson is made up only in case of illness. Please do not hesitate to cancel if your child is ill. This is in everyone’s best interest. In the case of an absence, I do not offer make-ups or refunds; however, you may trade times with any other student to make up for lost lessons. You may ask me if I have extra slots available (from other students who can not use their time) for make up, however, I can not keep you on the roster for lessons for more than 3 months.</p>
                <p><strong>Friday Lesson Policy</strong><br>
                Those of you with a Friday lesson are subject, as arranged, to rescheduling on All Studio Class Days. The group classes will be replaced by the ASC/ If you want to attend an additional group class on those weeks please look over the Weekly Schedule and pick a duo that includes students at the same book level as your child.</p>
                <p>Additionally, I sometimes have planned absences due to family obligations. On those planned absence days, we reschedule, usually to a Monday, but as convenient to you, and the lesson may be at the studio or at your home. As a courtesy, for each of my planned absences I entitle you to a planned absence as well -at your discretion , and also rescheduled to your convenience.</p>
                <p><strong>Device Policy</strong><br>
                Please only allow siblings to play on or use a device if they are out of the room, at the picnic table.</p>
                <p>If you are the practice parent: <strong>NO TEXTING.</strong>This is a distraction to me, to your child, and, of course, to you! It undermines the Suzuki Triangle that we are striving for. If you are taking notes on your phone, I hope that, while it is usually obvious to me, that you still might mention that to me or remind me of that.</p>
                <p>IF, as the practice parent, taking notes, you find that you simply can not get through this precious half hour without texting, due to an emergency, please remove yourself from the room while texting.</p>
                <p>IF you are sitting by arrangement at the back of the room, (Likely your child is in 6th grade or higher), then it is fine for you to be texting just as it is fine for you to be reading or working.</p>
                <p><strong>More Information</strong><br>
                Please read the <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/CampusRules.pdf" target="_blank">campus rules</a> for the Peace United Church campus, as well as the <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Tuition17-18.pdf" target="_blank">Tuition and Dates Handout</a> at the beginning of each school year! If you need more information about summer, please keep reading!</p>

            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Summer Policies</header>
            <div class="row container-content">
                <p>I aim in the summer months for a broader range of experience, with a little less intensity than I apply in the school year.</p>
                <p>Please remember that one May lesson is devoted largely to scheduling the summer. I do not do the scheduling via email. If your child is signed up for a lot of physically demanding programs, please take that in to account when you schedule lessons! Make sure to schedule the lessons on an off day from camp and make sure, as well, to schedule your child’s practice time when he is well rested. Please, do not schedule isolated lessons. There has to be some continuity for success.</p>
                <p>After this meeting occurs with all families, I put together a tentative schedule.</p>
                <p>I will send the schedule out weekly. After that, I require 24 hour notice from you in order to reschedule, otherwise you forfeit the lesson fee. If you do indeed give me more than 24 hours notice, you will get that lesson (maximum two) credited in October. I will give you 24 hour notice should I need to reschedule. Lessons missed due to student’s illness will be made up through November. Please note: You do not pay for lessons when I am on vacation or when you are on your planned vacation.</p>
                <p>Please, use the summer months to spend more time enriching your child's life with music, use some of it for a natural break, keep the routine, schedule your own intensive - (the month's lessons in one week), or reassess each month. If your child enjoyed duets or wants theory or extra group classes, ask me to incorporate that in to your schedule. Make sure that your child,in lessons or on vacation, is hearing her Book level at least once every day, hopefully more, and is hearing the next two book levels up on a weekly basis!</p> 
                <p>More information about summer tuition, as well as my summer enrollment fee and what it goes toward is found <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/SummerInfo.pdf" target="_blank">here</a> and below.</p>   
            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Required Reading</header>
            <div class="row container-content justify-content-center">
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/StudioPolicy.pdf" target="_blank"><img width="100%" src="{% static 'images/StudioPolicyThumb.jpg' %}" alt="Studio Policy"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Tuition17-18.pdf" target="_blank"><img width="100%" src="{% static 'images/TuitionThumb.jpg' %}" alt="Tuition and Dates"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/Observation.pdf" target="_blank"><img width="100%" src="{% static 'images/ObservationThumb.jpg' %}" alt="Observation"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/ParentResponsibilities.pdf" target="_blank"><img width="100%" src="{% static 'images/ParentRespThumb.jpg' %}" alt="Campus Conduct"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/CampusRules.pdf" target="_blank"><img width="100%" src="{% static 'images/ConductThumb.jpg' %}" alt="Campus Conduct"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/SummerInfo.pdf" target="_blank"><img width="100%" src="{% static 'images/SummerThumb.jpg' %}" alt="Campus Conduct"></a></div>
            <p><strong>Addendum: </strong> Reading Club fees may also be calculated at is $1.20 per minute</p>
            </div>
        </section>
    </div>
{% endblock main_text %}
