{% extends "base.htm" %}
{% load staticfiles %}

{% block main_text %}
    
    <div class="container-layout">
        <section>
            <div class="container-content">
                <p>I aim in the summer months for a broader range of experience, with a little less intensity than I apply in the school year.</p>
                <p>Please remember that one May lesson is devoted largely to scheduling the summer. I do not do the scheduling via email. If your child is signed up for a lot of physically demanding programs, please take that in to account when you schedule lessons! Make sure to schedule the lessons on an off day from camp and make sure, as well, to schedule your child’s practice time when he is well rested. Please, do not schedule isolated lessons. There has to be some continuity for success.</p>
                <p>After this meeting occurs with all families, I put together a tentative schedule.</p>
                <p>I will send the schedule out weekly. After that, I require 24 hour notice from you in order to reschedule, otherwise you forfeit the lesson fee. If you do indeed give me more than 24 hours notice, you will get that lesson (maximum two) credited in October. I will give you 24 hour notice should I need to reschedule. Lessons missed due to student’s illness will be made up through November. Please note: You do not pay for lessons when I am on vacation or when you are on your planned vacation.</p>
                <p>Please, use the summer months to spend more time enriching your child's life with music, use some of it for a natural break, keep the routine, schedule your own intensive - (the month's lessons in one week), or reassess each month. If your child enjoyed duets or wants theory or extra group classes, ask me to incorporate that in to your schedule. Make sure that your child,in lessons or on vacation, is hearing her Book level at least once every day, hopefully more, and is hearing the next two book levels up on a weekly basis!</p> 
                <p>More information about summer tuition, as well as my summer enrollment fee and what it goes toward is found <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/SummerInfo.pdf" target="_blank">here</a> and below.</p>   
            </div>
        </section>
        <section id="new-students">
            <header id="banner-documents">Required Reading</header>
            <div class="row container-content justify-content-center">
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/SummerInfo.pdf" target="_blank"><img width="100%" src="{% static 'images/SummerThumb.jpg' %}" alt="Campus Conduct"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/ParentResponsibilities.pdf" target="_blank"><img width="100%" src="{% static 'images/ParentRespThumb.jpg' %}" alt="Campus Conduct"></a></div>
                <div class="col-6 col-md-2">
                <a href="https://s3-us-west-2.amazonaws.com/ka-public/PDFs/CampusRules.pdf" target="_blank"><img width="100%" src="{% static 'images/ConductThumb.jpg' %}" alt="Campus Conduct"></a></div>
            </div>
        </section>
    </div>
{% endblock main_text %}